<div class="d-flex flex-column align-items-center">
  <h1>Victoria Lampard</h1>
  <p>Your next FED.</p>
  <img
    src="../../assets/pp.jpg"
    alt="Victoria Lampard"
    class="border border-dark border-solid border-2"
  />
  <div class="">
    <p class="text-center m-4">
      I picked up Angular and Boostrap over the course of this tech test, and am
      looking forward to discussing my approach and the various improvements I
      think can be made to this project technically.
    </p>
  </div>
</div>
