footer {
    margin-top: 30px;
    text-align: center;
    background-color: blanchedalmond;
  } 
  img{
    height: 30px;
    margin: 4px;
  }

  .link:hover{
    transform: translate(2px, 2px);
  }

  