<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing" style="min-height: calc(100vh - 79.6px);">
      <h3><b>{{title}}</b></h3>
      <br>
  
      <form class="form">
  
        <div class="form__field">
          <input type="text" class="form__input" id="Porkemon_numero" placeholder="ID [000]" required>
        </div>
  
        <div class="form__field">
          <input type="text" class="form__input" id="Pokemon_nombre" placeholder="NAME" required>
        </div>
  
        <div class="form__field">
          <input type="text" class="form__input" id="Porkemon_tipo" placeholder="TYPE" required>
        </div>
  
        <div class="form__field">
          <input type="submit" value="Save">
        </div>
  
      </form>
    </div>
  </div>