.card {
  cursor: pointer;
  box-shadow: 4px 4px 6px #31348a;
  background-color: #fcce19;
}

.arrow {
  width: 20px;
}
.card:hover {
  background-color: #fff4da;
  transform: translate(2px, 2px);
}

button:hover {
  transform: translate(2px, 2px);
}

.nav-arrow {
  height: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  filter: drop-shadow(3px 3px 2px #14064296);
}

.nav-arrow:nth-of-type(2) {
  left: auto;
  right: 0;
}
