.card {
  // background: #f3d74c;
  cursor: pointer;
box-shadow:  4px 4px 6px #31348a;
         background-color: #FCCE19;
}

.card:hover {
  background-color: #fff4da;
  transform: translate(2px, 2px);
}
