p {
  margin: 0px;
}

.sprite {
  filter: drop-shadow(10px 10px 4px #060616);
  transition: transform 0.2s;
}

.sprite:hover {
  transform: scale(1.4);
}

a {
  transition: transform 0.2s;
}
a:hover {
  transform: scale(1.2);
}
