.result-div {
  display: flex;
  flex-direction: flex-col;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #f3d74c;
  box-shadow: 9px 9px 13px #e8e8e8, -9px -9px 13px #ffffff;
  cursor: pointer;
}

.result-div:hover {
  background-color: #fff4da;
  transform: translate(2px, 2px);
}

img {
  max-width: 100%;
}

a {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  // width: 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  margin: 20px;
  // line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a:hover {
  background-color: #fff;
}

a:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
