body {
  min-height: 100%;
  background-image: url("./sky.jpg");
  background-size: cover;
}

* {
  font-family: "SpaceMono", sans-serif;
}

@font-face {
  font-family: "SpaceMono";
  src: url("./assets/SpaceMono-Regular.ttf");
}
